# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app
bin/*

#Log de Compilação
log
teste.txt
*.csv

# workspace files are user-specific
*.sublime-workspace
final-metodos1.sublime-workspace